body {
  background-color: #faf8ef;
}

section {
}

.game {
  margin-top: 24px;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px 45% 0 30%;
  justify-content: center;
}

table {
  border: 2px solid #bbada0;
  row-gap: 0px;
  column-gap: 0px;
  height: 400px;
  width: 400px;
  border-collapse: collapse;
  border-radius: 3px;
}

table tr {
  border-radius: 5px;
}

table td {
  border: 5px solid grey;
  height: 100px;
  width: 100px;
  background-color: #cdc1b4;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.game {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 3px;
  width: fit-content;
}

table td p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.gameover {
  visibility: hidden;
}
